{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name htmlms.start-ui, :imports nil, :requires {htmlms.youtube htmlms.youtube, htmlms.tedtalks htmlms.tedtalks}, :uses nil, :require-macros nil, :doc "trying to get all the various webpages listed as seen on http://rigsomelight.com/devcards/#!/"}